.main-teaser {
    position: relative;
    display: flex;
    line-height: 25px;
    font-size: 20px;
    color: gray;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    padding-right: 1rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.0117647059);
  }

  .hidden {
    display: none;
  }